<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">

<!-- search bar -->
<div class="container text-center input-group mb-3 mt-3">
    <!-- search for routes html -->
    <input type="text" class="form-control" placeholder="Leaving From..." aria-label="Username">
    <input type="text" class="form-control" placeholder="Going To..." aria-label="Server">
    <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
</div>
<div class="container mt-4 px-4 mid">
    <!-- search ends  -->
    <!-- top routes html -->
    <div class="row">
        <h2 class="mb-4 mid">Top Routes</h2>
        <div class="col-md-3 p">
            Bangalore to Mumbai
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
        </div>
        <div class="col-md-3">
            Ahmedabad to Mumbai
        </div>
        <div class="col-md-3">
            <!-- <a class=" button" [routerLink]="['detail']" ariaCurrentActive='page'>REyyy</a> -->
            <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            Pune to Ahmedabad
        </div>
        <div class="col-md-3">
            <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check">
        </div>
        <div class="col-md-3">
            Chennai to Bangalore
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-3">
            Delhi to Patna
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
        </div>
        <div class="col-md-3">
            Hyderabad to Mumbai
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-3">
            Delhi to Mumbai
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
        </div>
        <div class="col-md-3">
            Mumbai to Delhi
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
        </div>
    </div>
    <hr>
    <div class="row">

        <div class="col-md-3">
            Bangalore to Chennai
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
        </div>
        <div class="col-md-3">
            Nagpur to Bangalore
        </div>
        <div class="col-md-3">
            <a> <input class="btn btn-warning " routerLink="/bookingpage" routerLinkActive='activebutton' type="submit" value="Check"></a>
        </div>
    </div>
    <hr>
    <!-- top routes ending -->
    <!-- offers start -->
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 " style="height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
       ">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">Offer 1</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-outline-dark btn-warning mb-2 me-2" (click)="openScrollableContent(longContent)">
                            Click to see offer
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12" style="height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        ">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">Offer 2</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <button class="btn btn-outline-dark btn-warning mb-2 me-2" (click)="openScrollableContent(longContent)">
                            Click to see offer
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12" style="height: 100%;
        display: grid;
        justify-content: center;
        align-items: center;
        ">
                <div class="card" style="width: 18rem;">

                    <div class="card-body">
                        <h5 class="card-title">Offer 3</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        <button class="btn btn-outline-dark btn-warning mb-2 me-2" (click)="openScrollableContent(longContent)">
                            Click to see offer
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>One fine body&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<ng-template #longContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Modal title</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
        <p>
            Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
        </p>
        <p>
            Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </p>
        <p>
            Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>


<!-- offers end -->

<!-- testtimonials start -->





<div class="testimonials">
    <div class="inner">
        <h1>Testimonials</h1>
        <div class="border"></div>

        <div class="row">
            <div class="col">
                <div class="testimonial">
                    <img src="https://tse3.mm.bing.net/th/id/OIP.IiYk9qKGFI8sCbOSnxVX3AHaHa?pid=ImgDet&w=193&h=193&c=7&dpr=1.5" alt="">
                    <div class="name">Raj Mammodia</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="testimonial">
                    <img src="https://tse4.mm.bing.net/th/id/OIP.oZ0vB6WM-16q_LO4lHYgIQHaH0?pid=ImgDet&w=193&h=204&c=7&dpr=1.5" alt="">
                    <div class="name">Sandeep Rane</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>
                </div>
            </div>

            <div class="col">
                <div class="testimonial">
                    <img src="https://tse2.mm.bing.net/th/id/OIP.RWEqTSVO-8XTbW4AwseAgQHaHa?pid=ImgDet&w=193&h=193&c=7&dpr=1.5" alt="">
                    <div class="name">Chander Damodaran</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>

                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- testimonials end -->
<!-- footer -->

<!-- footer section start -->

<footer id="footer" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="index.html"><img src="https://logo-download.com/wp-content/data/images/2021/08/Levi_Strauss__Co.-Logo.png" alt="" class="img-fluid logo-footer"></a>
                <div class="footer-about">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, </p>
                </div>

            </div>
            <div class="col-md-3">
                <div class="useful-link">
                    <h2>Useful Links</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="use-links">
                        <li><a href="index.html"><i class="fa-solid fa-angles-right"></i> Home</a></li>
                        <li><a href="about.html"><i class="fa-solid fa-angles-right"></i> About Us</a></li>
                        <li><a href="gallery.html"><i class="fa-solid fa-angles-right"></i> Gallery</a></li>
                        <li><a href="contact.html"><i class="fa-solid fa-angles-right"></i> Contact</a></li>
                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="social-links">
                    <h2>Follow Us</h2>
                    <img src="./assets/images/about/home_line.png" alt="">
                    <div class="social-icons">
                        <li><a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                        <li><a href=""><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                        <li><a href=""><i class="fa-brands fa-linkedin-in"></i> Linkedin</a></li>
                    </div>
                </div>


            </div>
            <div class="col-md-3">
                <div class="address">
                    <h2>Address</h2>
                    <img src="./assets/images/about/home_line.png" alt="" class="img-fluid">
                    <div class="address-links">
                        <li class="address1"><i class="fa-solid fa-location-dot"></i> Kolathur ramankulam- Malappuram Dt Kerala 679338</li>
                        <li><a href=""><i class="fa-solid fa-phone"></i> +91 90904500112</a></li>
                        <li><a href=""><i class="fa-solid fa-envelope"></i> mail@1234567.com</a></li>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>
<!-- footer section end -->
<!-- footer copy right section start -->
<section id="copy-right">
    <div class="copy-right-sec"><i class="fa-solid fa-copyright"></i> Powerd By <a routerLink="/home-page" href='#nav'>OrangeBus</a>


    </div>

</section>

<!-- ariaCurrentActive='page' routerLinkActive='activebutton' -->
<!-- footer copy right section end -->