<div class="container px-0">
    <div class="card px-md-4 px-3 pb-4 bg-warning">
        <div class="d-flex flex-column my-3">
            <p class="h8">Payment method</p>
            <p class="text-muted">Choose your payment method to pay</p>
        </div>
        <div class="payment mb-2">
            <a routerLink="/card">
                <div class="btn btn-primary">
                    <div>
                        <span class="far fa-credit-card pay"></span>
                        <span class="ps-3">Card</span>
                    </div>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </a>
        </div>
        <div class="payment mb-2">
            <a href="#">
                <div class="btn btn-primary">
                    <div>
                        <span class="fab fa-paypal pay"></span>
                        <span class="ps-3">UPI</span>
                    </div>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </a>
        </div>
        <div class="payment mb-2">
            <a href="#">
                <div class="btn btn-primary">
                    <div>
                        <span class="fab fa-bitcoin pay"></span>
                        <span class="ps-3">Wallet</span>
                    </div>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </a>
        </div>
        <div class="payment mb-2">
            <a href="#">
                <div class="btn btn-primary">
                    <div>
                        <span class="fas fa-university pay"></span>
                        <span class="ps-3">Net banking</span>
                    </div>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </a>
        </div>
    </div>
</div>