<div class="mt-4 p-5 bg-light text-white rounded">
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
	<ngb-panel id="static-1" title="How to book a bus ticket on redBus?">
		<ng-template ngbPanelContent>
			On the redBus app home page, enter origin, destination, and date of journey and click on Search<br><br>

			<p style="text-align: center;"><b>was this Helpfull?</b></p>
			<button type="button" style="margin-left: 42%; width:5cm"class="btn btn-info" id='a1' (click)="alert1()">Yes</button><br>
			<button type="button" style="margin-left: 42%; margin-top: 0.3cm;width: 5cm;" class="btn btn-dark" (click)="alert1()">No</button>
		
		</ng-template>
	</ngb-panel>
	<ngb-panel id="static-2">
		<ng-template ngbPanelTitle>
			<span>How to reschedule a ticket?</span>
		</ng-template>
		<ng-template ngbPanelContent>
			Tap on My Bookings tab on the app home page. Tap on the ticket which you want to cancel.<br><br>
			<p style="text-align: center;"><b>was this Helpfull?</b></p>
			<button type="button" style="margin-left: 42%; width:5cm"class="btn btn-info" id='a1' (click)="alert1()">Yes</button><br>
			<button type="button" style="margin-left: 42%; margin-top: 0.3cm;width: 5cm;" class="btn btn-dark" (click)="alert1()">No</button>
		
		</ng-template>
	</ngb-panel>
	<ngb-panel id="static-3">
		<ng-template ngbPanelTitle>
			<span>How to cancel a ticket?</span>
		</ng-template>
		<ng-template ngbPanelContent>
			Tap on My Bookings tab on the app home page. Tap on the ticket for which you want to change the travel date.<br><br>
			<p style="text-align: center;"><b>was this Helpfull?</b></p>
			<button type="button" style="margin-left: 42%; width:5cm"class="btn btn-info" id='a1' (click)="alert1()">Yes</button><br>
			<button type="button" style="margin-left: 42%; margin-top: 0.3cm;width: 5cm;" class="btn btn-dark" (click)="alert1()">No</button>
		</ng-template><br>
		
	</ngb-panel>
	<ngb-panel id="static-4">
		<ng-template ngbPanelTitle>
			<span>Are there any cancellation charges levied when a bus ticket is canceled?</span>
		</ng-template>
		<ng-template ngbPanelContent>
			Cancellation charges are levied as per the Cancellation Policy of the bus. These policies can differ from service to service. All charges will be processed as per the terms and conditions mentioned in the Cancellation Policy.<br><br>
			<p style="text-align: center;"><b>was this Helpfull?</b></p>
			<button type="button" style="margin-left: 42%; width:5cm"class="btn btn-info" id='a1' (click)="alert1()">Yes</button><br>
			<button type="button" style="margin-left: 42%; margin-top: 0.3cm;width: 5cm;" class="btn btn-dark" (click)="alert1()">No</button>
		
		</ng-template>
	</ngb-panel>
	<ngb-panel id="static-5">
		<ng-template ngbPanelTitle>
			<span>Where can I view the bus ticket that I have booked through OrangeBus?</span>
		</ng-template>
		<ng-template ngbPanelContent>
			1
Tap on My Bookings tab on the app home page.<br>
2
Tap on the journey for which you want to view the ticket.<br><br>
			<p style="text-align: center;"><b>was this Helpfull?</b></p>
			<button type="button" style="margin-left: 42%; width:5cm"class="btn btn-info" id='a1' (click)="alert1()">Yes</button><br>
			<button type="button" style="margin-left: 42%; margin-top: 0.3cm;width: 5cm;" class="btn btn-dark" (click)="alert1()">No</button>
		
		</ng-template>
	</ngb-panel>
	<ngb-panel id="static-6">
		<ng-template ngbPanelTitle>
			<span>Do I need to carry any documents with me when I board the bus?</span>
		</ng-template>
		<ng-template ngbPanelContent>
			Carry one Govt. ID Proof along with the redBus generated Ticket when you board the bus.<br><br>
			<p style="text-align: center;"><b>was this Helpfull?</b></p>
			<button type="button" style="margin-left: 42%; width:5cm"class="btn btn-info" id='a1' (click)="alert1()">Yes</button><br>
			<button type="button" style="margin-left: 42%; margin-top: 0.3cm;width: 5cm;" class="btn btn-dark" (click)="alert1()">No</button>
		
		</ng-template>
	</ngb-panel>
</ngb-accordion>
</div>

<img src="https://tse3.mm.bing.net/th/id/OIP.qT-y6i5rzNHBlb3Q2af5xgHaEo?pid=ImgDet&rs=1" width="100%" alt='ffjf'/>