<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="card" style="width: 58rem;margin-left: 10%;margin-top: 3.5%;">
                <div class="card-body">
                    <h5 class="card-title">OrangeBus <b style="margin-left:3cm">08:00</b><b
                            style="margin-left: 1.5cm;">10h
                            00m</b><b style="margin-left: 1.5cm;">18:00</b><b style="margin-left: 3cm;">INR2500</b>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Tirupati - Bengaluru</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-6">
            <div class="card" style="width: 58rem;margin-left: 10%">
                <div class="card-body">
                    <h5 class="card-title">OrangeBus <b style="margin-left:3cm">08:00</b><b
                            style="margin-left: 1.5cm;">10h
                            00m</b><b style="margin-left: 1.5cm;">18:00</b><b style="margin-left: 3cm;">INR2000</b></h5>
                    <h6 class="card-subtitle mb-2 text-muted">Bengaluru - Mumbai</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-6">

            <div class="card" style="width: 58rem;margin-left: 10%">
                <div class="card-body">
                    <h5 class="card-title">OrangeBus <b style="margin-left:3cm">08:00</b><b
                            style="margin-left: 1.5cm;">10h
                            00m</b><b style="margin-left: 1.5cm;">18:00</b><b style="margin-left: 3cm;">INR2000</b></h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="card" style="width: 58rem;margin-left: 10%;">
                        <div class="card-body">
                            <h5 class="card-title">OrangeBus <b style="margin-left:3cm">08:00</b><b
                                    style="margin-left: 1.5cm;">10h
                                    00m</b><b style="margin-left: 1.5cm;">18:00</b><b
                                    style="margin-left: 3cm;">INR2000</b></h5>
                            <h6 class="card-subtitle mb-2 text-muted">Bengaluru - Hyderabad</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the
                                card's
                                content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>