<div class="row g-2" style="padding-left:22%; padding-top: 3cm;">
    <form #item4="ngForm" (ngSubmit)="submit(item4)">
        <div class="row g-3">
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter PNR No." aria-label="First name">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Enter Mobile Number" aria-label="Last name">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Track</button>
            </div>
        </div>
    </form>
</div>